/* .colorContainer {
  display: flex;
text-align: center;

justify-content: center;
align-items: center;
height: 50vh;

} */

.App {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  height: 100vh;
}
.score {
 grid-row: 0 / 1;
 grid-column: 3;
 font-size: 3em;
}

button {
  background-color: #9b80d6; 
  margin: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.buttonArea {
  grid-row: 5;
  grid-column: 2/4;
}

.currentColor {
  grid-row: 2 / 4;
  grid-column: 2/5;

  border: 5px solid black;
}
